* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1;
  font-family: 'Poppins', sans-serif;
}

.header {
  background-image: linear-gradient(to bottom right, #003459, #c9e9f6 ) ;
  width: 100%;
  padding-top: 49px;
  padding-bottom: 39px;
}

h1 {
  text-align: center;
  font-weight: 500;
  font-style: italic;
  text-decoration: none;
  word-spacing: 5px;
  letter-spacing: 1px;
  font-size: 80px;
  color: aliceblue;
  text-shadow: -5px 3px black;
  margin-bottom: -71px;
}

h2 {
  font-size: 45px;
}

nav {
  background-color: #007ea7;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 300;
  text-align: center;
}

nav a{
  font-size: 35px;
  text-decoration: none;
  color: #f1f1f1;
}

nav a:hover{
  text-shadow: -2px 1px black;
  color: #f1f1f1;
  transition: .7s;
}

nav a::after{
  transition: .7s;
}

#startBtn {
  justify-content: center;
  background-color: #c9e9f6 ;
  color: black;
  font-size: 30px;
  width: 125px;
  height: 55px;
  border-radius: 30px;
  border: #007ea7 solid 2px;
  cursor: pointer;
  margin-top: 70px;
}

#quizField {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

#quiz {
  background-color: #c9e9f6;
  padding: 50px;
  border-radius: 25px;
  min-width: 500px;
  max-width: 500px;
  border: rgb(175, 172, 172) solid 2px;
}

#quizQuestion{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
}

#quizAnswers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 35px;
}

#introduction {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 80px;
}

p {
  font-size: 22px;
  padding: 20px;
  line-height: 2;
  text-align: center;
}

#startBtn:hover, #answerBtn:hover, #submitButton:hover, #resetGame:hover, #resetScore:hover {
  transition: 1s;
color:#c9e9f6;
background-color: #007ea7;
opacity: .8;
}

button {
  margin: 10px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  border-radius: 10px;
  border-style: none;
  width: 250px;
}

h2 {
  font-size: 55px;
  padding: 10px;
}

h3 {
  font-size: 20px;
  padding: 15px;
}

input {
  padding: 15px;
  border: 2px solid #c9e9f6;
  border-radius: 10px;
  margin-top: 15px;
  width: 300px;
}


input:focus{
  outline: none;
}

#submitButton {
  justify-content: center;
  background-color: #c9e9f6 ;
  color: black;
  font-size: 30px;
  width: 125px;
  height: 55px;
  border-radius: 30px;
  border: #007ea7 solid 2px;
  cursor: pointer;
  margin-top: 70px;
}

#highscore {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

#resetGame, #resetScore {
  justify-content: center;
  background-color: #c9e9f6 ;
  color: black;
  font-size: 30px;
  width: 125px;
  height: 55px;
  border-radius: 30px;
  border: #007ea7 solid 2px;
  cursor: pointer;
  margin-top: 70px;
}

a {
  text-decoration: none;
}

a:active {
  color: black;
}

a:visited {
  color: black;
}


footer {
  background-color: #007ea7;
  margin-bottom: -10px;
}

footer img{
  width: 60px;
  height: 60px;
}

h4 {
  text-align: center;
  padding-top: 10px;
  color: #f1f1f1;
}

#connect {
text-align: center;
color: #f1f1f1;
}